# Database
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_DB=jobboard
POSTGRES_USER=postgres
POSTGRES_PASSWORD=secret

# External APIs
ADZUNA_APP_ID=your_app_id
ADZUNA_API_KEY=your_api_key

# Airflow
AIRFLOW__CORE__EXECUTOR=LocalExecutor
AIRFLOW__DATABASE__SQL_ALCHEMY_CONN=postgresql+psycopg2://postgres:secret@localhost:5432/airflow

# API
API_HOST=0.0.0.0
API_PORT=8000